<div class="container">
    <div class="row g-4">
        <section class="col-3">

            <h5 class="text-warning mb-3">Sort</h5>
            <select class="form-select my-3">
                <option selected>Alphabetical</option>
                <option>Price: Low to High</option>
                <option>Price: High to Low</option>
            </select>

            <h5 class="text-warning ml-3">Brands</h5>
            <ul class="list-group my-3">
                <li class="list-group-item active" aria-current="true">An active item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>

            <h5 class="text-warning ml-3 my-3">Types</h5>
            <ul class="list-group my-3">
                <li class="list-group-item active" aria-current="true">An active item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </section>

        <section class="col-9">

            <div class="d-flex justify-content-between align-items-center pb-2">

                <header>
                    <span>Showing <strong>10</strong> of <strong>16</strong> Results</span>
                </header>
                
                <div class="d-flex mt-2">
                    <input class="form-control m-2 my-2" style="width: 300px;" placeholder="Search" type="text">
                    <button class="btn btn-outline-primary my-2">Search</button>
                    <button class="btn btn-outline-success m-2 my-2">Reset</button>
                
                </div>
            </div> 

            

            <div class="row">
                <div class="bd-content">
                    <h2 id="snippets">Snippets</h2>
                    <p>Common patterns for building sites and apps that build on existing components and utilities with
                        custom CSS and more.</p>
                    <div class="row">
                
                        <div class="col-sm-6 col-md-3 mb-3">
                            <a class="d-block link-offset-1" href="/docs/5.3/examples/headers/">
                                <img class="img-thumbnail mb-3" srcset="/docs/5.3/assets/img/examples/headers.png,
                                                                              /docs/5.3/assets/img/examples/headers@2x.png 2x"
                                    src="/docs/5.3/assets/img/examples/headers.png" alt="" width="480" height="300" loading="lazy">
                                <h3 class="h5 mb-1">
                                    Headers
                                </h3>
                            </a>
                            <p class="text-body-secondary">Display your branding, navigation, search, and more with these
                                header components</p>
                        </div>
                
                
                
                
                        <div class="col-sm-6 col-md-3 mb-3">
                            <a class="d-block link-offset-1" href="/docs/5.3/examples/heroes/">
                                <img class="img-thumbnail mb-3" srcset="/docs/5.3/assets/img/examples/heroes.png,
                                                                              /docs/5.3/assets/img/examples/heroes@2x.png 2x"
                                    src="/docs/5.3/assets/img/examples/heroes.png" alt="" width="480" height="300" loading="lazy">
                                <h3 class="h5 mb-1">
                                    Heroes
                                </h3>
                            </a>
                            <p class="text-body-secondary">Set the stage on your homepage with heroes that feature clear
                                calls to action.</p>
                        </div>
                
                
                
                
                        <div class="col-sm-6 col-md-3 mb-3">
                            <a class="d-block link-offset-1" href="/docs/5.3/examples/features/">
                                <img class="img-thumbnail mb-3" srcset="/docs/5.3/assets/img/examples/features.png,
                                                                              /docs/5.3/assets/img/examples/features@2x.png 2x"
                                    src="/docs/5.3/assets/img/examples/features.png" alt="" width="480" height="300" loading="lazy">
                                <h3 class="h5 mb-1">
                                    Features
                                </h3>
                            </a>
                            <p class="text-body-secondary">Explain the features, benefits, or other details in your
                                marketing content.</p>
                        </div>
                
                
                
                
                        <div class="col-sm-6 col-md-3 mb-3">
                            <a class="d-block link-offset-1" href="/docs/5.3/examples/sidebars/">
                                <img class="img-thumbnail mb-3" srcset="/docs/5.3/assets/img/examples/sidebars.png,
                                                                              /docs/5.3/assets/img/examples/sidebars@2x.png 2x"
                                    src="/docs/5.3/assets/img/examples/sidebars.png" alt="" width="480" height="300" loading="lazy">
                                <h3 class="h5 mb-1">
                                    Sidebars
                                </h3>
                            </a>
                            <p class="text-body-secondary">Common navigation patterns ideal for offcanvas or multi-column
                                layouts.</p>
                        </div>
                
                
                
                
                        <div class="col-sm-6 col-md-3 mb-3">
                            <a class="d-block link-offset-1" href="/docs/5.3/examples/footers/">
                                <img class="img-thumbnail mb-3" srcset="/docs/5.3/assets/img/examples/footers.png,
                                                                              /docs/5.3/assets/img/examples/footers@2x.png 2x"
                                    src="/docs/5.3/assets/img/examples/footers.png" alt="" width="480" height="300" loading="lazy">
                                <h3 class="h5 mb-1">
                                    Footers
                                </h3>
                            </a>
                            <p class="text-body-secondary">Finish every page strong with an awesome footer, big or small.
                            </p>
                        </div>
                
                
                
                
                        <div class="col-sm-6 col-md-3 mb-3">
                            <a class="d-block link-offset-1" href="/docs/5.3/examples/dropdowns/">
                                <img class="img-thumbnail mb-3" srcset="/docs/5.3/assets/img/examples/dropdowns.png,
                                                                              /docs/5.3/assets/img/examples/dropdowns@2x.png 2x"
                                    src="/docs/5.3/assets/img/examples/dropdowns.png" alt="" width="480" height="300" loading="lazy">
                                <h3 class="h5 mb-1">
                                    Dropdowns
                                </h3>
                            </a>
                            <p class="text-body-secondary">Enhance your dropdowns with filters, icons, custom styles, and
                                more.</p>
                        </div>
                
                
                
                
                        <div class="col-sm-6 col-md-3 mb-3">
                            <a class="d-block link-offset-1" href="/docs/5.3/examples/list-groups/">
                                <img class="img-thumbnail mb-3" srcset="/docs/5.3/assets/img/examples/list-groups.png,
                                                                              /docs/5.3/assets/img/examples/list-groups@2x.png 2x"
                                    src="/docs/5.3/assets/img/examples/list-groups.png" alt="" width="480" height="300" loading="lazy">
                                <h3 class="h5 mb-1">
                                    List groups
                                </h3>
                            </a>
                            <p class="text-body-secondary">Extend list groups with utilities and custom styles for any
                                content.</p>
                        </div>
                
                
                
                
                        <div class="col-sm-6 col-md-3 mb-3">
                            <a class="d-block link-offset-1" href="/docs/5.3/examples/modals/">
                                <img class="img-thumbnail mb-3" srcset="/docs/5.3/assets/img/examples/modals.png,
                                                                              /docs/5.3/assets/img/examples/modals@2x.png 2x"
                                    src="/docs/5.3/assets/img/examples/modals.png" alt="" width="480" height="300" loading="lazy">
                                <h3 class="h5 mb-1">
                                    Modals
                                </h3>
                            </a>
                            <p class="text-body-secondary">Transform modals to serve any purpose, from feature tours to
                                dialogs.</p>
                        </div>
                
                
                
                
                        <div class="col-sm-6 col-md-3 mb-3">
                            <a class="d-block link-offset-1" href="/docs/5.3/examples/badges/">
                                <img class="img-thumbnail mb-3" srcset="/docs/5.3/assets/img/examples/badges.png,
                                                                              /docs/5.3/assets/img/examples/badges@2x.png 2x"
                                    src="/docs/5.3/assets/img/examples/badges.png" alt="" width="480" height="300" loading="lazy">
                                <h3 class="h5 mb-1">
                                    Badges
                                </h3>
                            </a>
                            <p class="text-body-secondary">Make badges work with custom inner HTML and new looks.</p>
                        </div>
                
                
                
                
                        <div class="col-sm-6 col-md-3 mb-3">
                            <a class="d-block link-offset-1" href="/docs/5.3/examples/breadcrumbs/">
                                <img class="img-thumbnail mb-3" srcset="/docs/5.3/assets/img/examples/breadcrumbs.png,
                                                                              /docs/5.3/assets/img/examples/breadcrumbs@2x.png 2x"
                                    src="/docs/5.3/assets/img/examples/breadcrumbs.png" alt="" width="480" height="300" loading="lazy">
                                <h3 class="h5 mb-1">
                                    Breadcrumbs
                                </h3>
                            </a>
                            <p class="text-body-secondary">Integrate custom icons and create stepper components.</p>
                        </div>
                
                
                
                
                        <div class="col-sm-6 col-md-3 mb-3">
                            <a class="d-block link-offset-1" href="/docs/5.3/examples/buttons/">
                                <img class="img-thumbnail mb-3" srcset="/docs/5.3/assets/img/examples/buttons.png,
                                                                              /docs/5.3/assets/img/examples/buttons@2x.png 2x"
                                    src="/docs/5.3/assets/img/examples/buttons.png" alt="" width="480" height="300" loading="lazy">
                                <h3 class="h5 mb-1">
                                    Buttons
                                </h3>
                            </a>
                            <p class="text-body-secondary">Create custom buttons for just about any use case with utilities.
                            </p>
                        </div>
                
                
                
                
                        <div class="col-sm-6 col-md-3 mb-3">
                            <a class="d-block link-offset-1" href="/docs/5.3/examples/jumbotrons/">
                                <img class="img-thumbnail mb-3" srcset="/docs/5.3/assets/img/examples/jumbotrons.png,
                                                                              /docs/5.3/assets/img/examples/jumbotrons@2x.png 2x"
                                    src="/docs/5.3/assets/img/examples/jumbotrons.png" alt="" width="480" height="300" loading="lazy">
                                <h3 class="h5 mb-1">
                                    Jumbotrons
                                </h3>
                            </a>
                            <p class="text-body-secondary">Create modernized versions of the classic Bootstrap component.
                            </p>
                        </div>
                
                    </div>
                </div>
            </div>

           
        </section>
        
    </div>
</div>